.subMenu {
    cursor: pointer;
}

.featuredProductImage {
    width: 150px;
    object-fit: contain;
}

.listingPageProductImage {
    width: 250px;
    height: 250px;
}

.listingPageListViewImage {
    width: 280px;
    height: 200px;
}

.sortSelected {
    background-color:#F5F5F5 !important;
}