.updateImage {
    height: 130px;
    width: 150px;
}

.productImage {
    width: 80px;
    object-fit: contain;
}

.productActions {
    display: flex;
}

.productActions a {
    margin: 5px !important;
}

.productActions i {
    font-size: 15px;
}

.addButton {
    padding: 7px 10px !important;
}