.subMenu {
    cursor: pointer;
}

.featuredProductImage {
    width: 150px;
    object-fit: contain;
}

.listingPageProductImage {
    width: 250px;
    height: 250px;
}

.listingPageListViewImage {
    width: 280px;
    height: 200px;
}

.sortSelected {
    background-color:#F5F5F5 !important;
}

.feedback-btn button {
    background: #242424;
    color: #fff !important;
    width: 80px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    left: 110px;
    right: auto;
    top: 0;
    display: block;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.feedback-btn button:hover {
    background: #fed700;
    text-decoration: none;
}

.searchList {
    position: absolute;
    width: 72%;
    background-color: #ffffff;
    height: 400px;
    overflow-y: auto;
    z-index: 9;
    border: 1px solid #DDD;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 3rem;
    display: none;
}

.searchList a {
    color: #0b0b0b;
    transition: .4ms;
}

form.cmxform label.error, label.error {
    color: red;
    font-style: italic;
}

input.error {
    border: 1px dotted red;
}
